GROQ_API_KEY = ""
OPENAI_API_KEY = ""
OBJECT_STORE_ENDPOINT = ""
OBJECT_STORE_ACCESS_KEY = ""
OBJECT_STORE_SECRET_KEY = ""
OBJECT_STORE_BUCKET = ""
OBJECT_STORE_REGION = ""
LANGSMITH_TRACING = ""
LANGSMITH_API_KEY = ""
LANGSMITH_PROJECT = ""
